#
server {
    listen 80;
    listen [::]:80;

    server_name <%= @host_url %>;

    root /var/www/<%= @project %>/frontend/dist;

    location ~ \.(html|htm|css|js|wasm|txt|pdf|png|jpg|jpeg|svg|ico|gif|webm)$ {
        try_files $uri $uri/ =404;
        add_header Cache-Control no-cache;
    }

    location / {
        try_files $uri $uri/ /index.html;
    }

    location /api {
        proxy_pass http://localhost:3030;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection 'upgrade';
        proxy_set_header Host $host;
        proxy_cache_bypass $http_upgrade;
    }
    
    proxy_send_timeout 300s;
    proxy_read_timeout 300s;
}
